.row{
    color: #fff;
    margin-left: 10px;
}
.row_posters {
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    width: 95vw;
}

.row_posters::-webkit-scrollbar{
    display: none;
}

.poster{
    object-fit: contain;
    /* width: 250%; */
    max-height: 100px;
    margin-right: 10px;
    padding-right: 10px;
    transition: transform 450ms;
}

.poster:hover {
    transform: scale(1.08);
}

.row_posterLarge {
    max-height: 200px;
}
 .row_posterLarge:hover{
     transform: scale(1.09);
 }
